pkgbase = qcom-adreno-opencl-bin
	pkgdesc = Qualcomm Adreno GPU OpenCL driver (prebuilt binary)
	pkgver = 1.855.1
	pkgrel = 2
	url = https://softwarecenter.qualcomm.com
	arch = aarch64
	license = LicenseRef-Qualcomm-EULA
	makedepends = patchelf
	depends = qcom-libdmabufheap
	depends = glib2
	depends = zlib
	provides = opencl-driver
	provides = opencl-icd-loader
	provides = ocl-icd
	conflicts = ocl-icd
	noextract = qcom-adreno_1.855.1_armv8a.tar.gz
	noextract = qcom-adreno_1.838.3_qcm6490.tar.gz
	options = !strip
	source = https://qartifactory-edge.qualcomm.com/artifactory/qsc_releases/software/chip/component/gfx-adreno.le.0.0/260215/prebuilt_yocto/qcom-adreno_1.855.1_armv8a.tar.gz
	source = https://softwarecenter.qualcomm.com/nexus/generic/software/chip/qualcomm_linux-spf-1-0/qualcomm-linux-spf-1-0_test_device_public/r1.0_00114.0/le-qclinux-1-0-r1/apps_proc/prebuilt_HY22/qcom-adreno/251215/qcom-adreno_1.838.3_qcm6490.tar.gz
	sha256sums = 825574743eecfeaef93201843a27f3b6cdebfae151a70846610da55cd467a7f2
	sha256sums = 3d55e1ef9f33b3fad2b9245c04169b540cfb73b7b1a1b5028f00d16ec8848874

pkgname = qcom-adreno-opencl-bin
